<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
    <h2>All Blogger</h2>
    <h3><a href="/">Go To Menu......</a></h3>
        <ul>
        <% users.forEach(function(user) { %>
            <li>
                id : <%= user._id %><br>
                nick : <%= user.nick%>
            </li>
            <br>
        <% })%>
        </ul>
    </body>
</html>