<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Add User Form</title>
</head>
<body>
<h3>Add User Form</h3>
<form method="post" action="/users">
    이메일 : <input type = 'text' name="email" placeholder="이메일"><br>
    비밀번호 :<input type = 'text' name="password" placeholder="비밀번호"><br>
    사용자본명 :<input type = 'text' name="name" placeholder="사용자본명"><br>
    닉네임 : <input type = 'text' name="nick" placeholder="닉네임"><br>
    <p><button>입력</button></p>
</form>

</form>
</body>
</html>