<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MENU</title>
    <style>
        ul{
            font-size: 1.5em;
            font-weight: bolder;
            color : purple;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="">ADD USER</a></li>
        <li><a href="">ADD BLOG</a></li>
        <li><a href="/posts">POST</a></li>
        <li><a href="">ADD SHOW POST</a></li>
        <li><a href="/post/work">ADD WORK POST</a></li>
        <li>ADD REPLY
            <ul>
                <li><a href="/reply/1">1</a></li>
            </ul>
        </li>
        <li><a href="">ADD NOTI</a></li>
        <li><a href="">ADD REPORT</a></li>
    </ul>
</body>
</html>