<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MENU</title>
    <style>
        ul{
            font-size: 1.5em;
            font-weight: bolder;
            color : purple;
        }

        .show{
            width: 220px;
            background-color : hotpink;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="join">ADD USER</a></li>
        <li><a href="/web/showAll">SEE ALL WRITER</a></li><br>

        <!--<li><a href="">ADD BLOG</a></li>-->
        <!--<li><a href="/posts">POST</a></li>-->
        <li class ='show'><a href="/showPosts">SHOW LIST(JSON)</a></li>
        <li class ='show'><a href="/showPosts/webTest">SHOW LIST(WEB)</a></li>
        <li class ='show'><a href="/showPosts/showPostsForm">ADD SHOW POST</a></li><br>
        <li><a href="/web/page/addWorkPost">ADD WORK POST</a></li>
        <!--<li><a href="">ADD NOTI</a></li>-->
        <!--<li><a href="">ADD REPORT</a></li>-->
        <li><a href="/workPosts">GO TO WORK POSTS</a></li>


    </ul>
</body>
</html>