<html>
<head>
    <title>Posts</title>
    <style>
        .container{
            width : 50%;
            margin-top : 10px;
            background-color : #5890ad;
        }
    </style>
</head>
<body>
    <% works.forEach(function(work){ %>
        <div class="container">
            <%= work %>
        </div>
    <% })%>

</body>
</html>