<html>
<head>
    <title>Posts</title>
    <style>
        .container{
            width : 50%;
            margin-top : 10px;
        }
    </style>
</head>
<body>

    <div class="container">

    </div>
</body>
</html>